<h2>User Index</h2>

<h3>Create A Link</h3>
<%= form_for [@user, @url = Url.new] do |f| %>
	<%= f.label "Original URL:" %>
	<%= f.text_field :original_url , :value => "http://"%>
	<%= f.submit "Shorten URL" %><br>
	<%= f.label "Vanity URL:  " %>
	<%= f.text_field :short_url %>
	<%= f.label "(optional)" %>
<% end %>

<h3>Existing Links</h3>
<table border="0">
	<tr>
		<td width="50" align="left">Visits</td>
		<td width="200">Short URL</td>
		<td width="200">Original URL</td>
	<tr>
<% @urls.each do |url| %>
	<tr>
		<td width="50" align="center"><%= url.count %></td>
		<!-- <td width="200"><a href="<%= url.short_url %>" target="_blank">localhost:3000/<%= url.short_url %></a></td> -->
		<td width="200"><%= link_to "http://localhost:3000/#{url.short_url}", "http://localhost:3000/#{url.short_url}", :target => "_blank" %></a></td>
		<td width="500"><%= url.original_url%></td>
	<tr>
<% end %>
</table>