<!-- <h2>User List</h2>

<%= form_for [@user, @url = Url.new] do |f| %>
	<%= f.label "Original URL:" %>
	<%= f.text_field :original_url , :value => "http://"%>
	<%= f.submit "Shorten URL" %><br>
	<%= f.label "Vanity URL:  " %>
	<%= f.text_field :short_url %>
	<%= f.label "(optional)" %>
<% end %>
 -->
